.customize-support {
    background-color: #393939;
}

.customize-support h1{
    color: #fff;
}

.customize-support p{
    color: #aaa;
}

.top-menu a, .footerNavMenu a{
    color:#888;
}

.logo{
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}

.logo:hover{
    color: #aaa;
}

.footerNavMenu {
    width: 4rem;
}

.roundedAll {
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.blackCover {
    background-color: black;
    padding: 2rem;
    margin-bottom: 1rem;
}

.comment {
    width: 423px;
}

.comment p {
    padding-top: 1rem;
}

.episodeContent {
    padding-left: 1rem;
}

.episodeContent h1 {
    color: white;
    font-size: 3rem;
}

.episodeContent p {
    font-size: 1.5rem;
}

.postLink {
    color: blue;
}

i.fa-soundcloud {
    color:#fff;
}

i.fa-star {
    color: gold;
}
@media screen and (min-width:720px) {
    .heroTitle {
        padding-top: 25%;
    }
}